$font1: 'Roboto',
sans-serif;
$font2: 'Great Vibes',
cursive;
$font3: 'Playball',
cursive;

* {
    margin: 0;
    padding: 0;
}

body .wrapper {
    max-width: 1280px;
    margin: 0 auto;
}


.nav {
    height: 45vh;
    background-image: url(../images/green-field.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.nav nav {
    padding-top: 7px;
    color: rgb(38, 8, 95);
}

.nav nav>a {
    left: 5px;
    text-decoration: none;
    font-family: $font2;
    font-size: 25px;
}

.nav ul {
    list-style: none;
    justify-content: end;
}

.nav ul li a {
    text-decoration: none;
    font-family: $font1;
    font-size: 12px;
    padding: 3px 10px;
    text-transform: uppercase;

}

.nav.container {
    position: relative;
}

.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.slogan h3 {
    font-family: 'Playball', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.slogan h1 {
    font-family: $font1;
    font-size: 35px;
    text-align: center;
}

.slogan a {
    text-align: center;
    text-decoration: none;
    border: 1px rgb(90, 116, 231) solid;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.3px;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 20px auto;
    background-color: rgb(90, 116, 231);
    color: white;
    transition: .6s;
}

.slogan a:hover {
    background-color: white;
    border: 1px white;
    color: rgb(90, 116, 231);
}


/*SERVICES*/


.title-section {
    padding: 96px;
    font-family: $font1;
    text-align: center;
}

.title-section h1 {
    font-weight: 700;
    font-size: 35px;
}

.title-section p {
    font-family: $font2;
    padding-top: 10px;
}

.services {
    margin-bottom: 96px;
}

.services .section {
    margin-bottom: 40px;
}

.services .row i {
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 10px;
    font-size: 35px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.services .row p {
    text-align: center;
    font-family: $font1;
}

.services .row p:nth-of-type(1) {
    font-weight: 700;
    padding: 12px 0;
}

.services .row p:nth-of-type(2) {
    line-height: 1.5;
}


/*OUR PORTFOLIO*/

.our-portfolio {
    background-color: rgb(248, 220, 220);
    justify-content: space-between;
}


.our-portfolio .description {
    margin-bottom: 40px;
    padding: 10px 0;
}

.our-portfolio img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}


.portfolio div div {
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
}

.our-portfolio .row div div p:nth-child(1) {
    font-family: $font1;
    font-weight: 700;
}

.our-portfolio .row div div p:nth-child(2) {
    font-family: $font3;
}

/*FOOTER*/